[Desktop Entry]
Type=Application
Terminal=true
Name=ar-sandbox
Icon=~/UC-Davis-AR-Sandbox-Configuration-Menu/icon/ARLogo128x128.png
Exec=~/UC-Davis-AR-Sandbox-Configuration-Menu/startAugmentedSandbox.sh
