[Desktop Entry]
Type=Application
Terminal=true
Name=AR Sandbox
Icon=/usr/share/UC-Davis-AR-Sandbox-Configuration-Menu/icon/ARLogo128x128.png
Exec=/usr/share/UC-Davis-AR-Sandbox-Configuration-Menu/startAugmentedSandbox.sh
