[Desktop Entry]
Type=Application
Version=1.0.0
Terminal=true
Name=AR Sandbox
Icon=%%HOME%%/UC-Davis-AR-Sandbox-Configuration-Menu/icon/ARLogo128x128.png
Exec=%%HOME%%/UC-Davis-AR-Sandbox-Configuration-Menu/startAugmentedSandbox.sh
Path=%%HOME%%/UC-Davis-AR-Sandbox-Configuration-Menu
