[Desktop Entry]
Type=Application
Terminal=true
Name=AR Sandbox
Icon=/opt/UC-Davis-AR-Sandbox-Configuration-Menu/icon/ARLogo128x128.png
Exec=/opt/UC-Davis-AR-Sandbox-Configuration-Menu/startAugmentedSandbox.sh
Path=/opt/UC-Davis-AR-Sandbox-Configuration-Menu
